name: testing-work

on:
  pull_request:
    branches:
      - dev
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
    name: build
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          cache : 'pip'

      - name: Globus auth
        run: 'echo "$GLOBUS_CONFIG" > ~/.globus-native-apps.cfg'
        shell: bash
        env:
          GLOBUS_CONFIG: "${{ secrets.GLOBUS_CONFIG }}"


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install pytest-cov~=2.12.1
          pip install jsonschema
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        run: |
          pytest -s tests/test_foundry_gha.py --cov=./foundry --cov-report=xml
      - name: Upload coverage to Codecov
        run: |
          curl -Os https://uploader.codecov.io/v0.1.0_4653/linux/codecov

          chmod +x codecov
          ./codecov -t ${{ secrets.CODECOV_TOKEN }}
